// ==================================================
// footer style
// ==================================================

#footer {
	background-color: var(--footer-bg);
	color: var(--footer-text-color);
}
#inner-footer {
	font-size: 88%;
	padding: 4%;
	a {
		color: var(--footer-link-color);
	}
	@media only screen and (min-width: 768px) {
		padding: 35px;
	}

	.stk_sns__svgicon {
		fill: var(--footer-link-color);
	}
}

#footer-top {
	.widgettitle {
		font-size: 110%;
		padding: 0.4em 0.1em;
		background: none;
		color: var(--footer-text-color);
	}
	@media only screen and (min-width: 768px) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.footerwidget {
			width: calc(33.333333% - 1em);
		}
		&:not(.--style-flex)::after {
			content: "";
			width: calc(33.333333% - 1em);
		}
		&.--style-col-two {
			&::after,
			.footerwidget {
				width: calc(50% - 1.5em);
			}
		}
		&.--style-flex {
			gap: 0 1.5em;
			.footerwidget {
				flex: 1;
			}
		}
	}
}
#footer-bottom {
	text-align: center;
	font-size: 90%;

	.stk_sns_links {
		margin: 1.5em 0;
	}
}

.footer-links {
	> .menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 1em;
	}
	a {
		text-decoration: none;
		&::before {
			font-family: var(--stk-font-awesome-free, "Font Awesome 5 Free");
			font-weight: 700;
			content: '\f105';
			margin-right: 0.3em;
			color: var(--main-link-color);
		}
	}
	.gf,
	.sub-menu {
		display: none;
	}
}

.pt-button {
	position: fixed;
	right: 10px;
	bottom: 0;
	transform: translateY(50px);
	transition: 0.2s ease-out;
	cursor: pointer;

	background: hsla(0, 0%, 50%, 0.5);
	text-decoration: none;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	&.--link-color {
		background: var(--main-link-color-rgba);
	}

	&::before {
		font-family: var(--stk-font-awesome-free, "Font Awesome 5 Free");
		content: "\f106";
		font-size: 1.1em;
		font-weight: 700;
	}

	&.pt-active {
		transform: translateY(-10px);
	}
	&:not(.pt-active) {
		bottom: 0 !important;
	}

	.btn-text {
		margin-top: .3em;
		font-size: 10px;
		font-feature-settings: "palt";
		line-height: 1;
		transform: scale(.9);
	}
}


// 固定フッターメニュー
#fixed-footer-menu {
	display: block;
	position: fixed;
	width: 100%;
	//bottom: -50px;
	left: 0;
	visibility: hidden;
	transition: 0.2s;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
	z-index: 3;

	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--inner-content-bg);
		opacity: .95;
	}

	&.pt-active {
		bottom: 0 !important;
		visibility: visible;
	}

	ul {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0;
		margin: 0;
		//height: 50px;
		padding: 8px 0;
		gap: 8px;
		position: relative;
		z-index: 1;

		li {
			flex: 1 1 100%;
			text-align: center;
			display: block;

			a {
				color: inherit;
				display: block;
				text-decoration: none;
			}
			i {
				display: block;
				font-size: 20px;
				font-weight: 700;
				transform: scale(0.9);
			}
			span,
			&::after {
				display: block;
				font-size: 10px;
				line-height: 1;
				// 行制限
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				line-clamp: 2;
				-webkit-line-clamp: 2;
			}
		}
	}

	&:not(.textnone) {
		li:not(:has(span))::after {
			content: attr(aria-label);
			margin-top: .6em;
		}
	}
	&.--style-headercolor {
		color: var(--header-text-color);
		&::before {
			background: var(--header-bg);
		}
	}
	&.--style-footercolor {
		color: var(--footer-link-color);
		&::before {
			background: var(--footer-bg);
		}
	}
}


.copyright {
	margin: auto;
}


//  IE Only

@media (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.accordionBtn {
		line-height: 2.3!important;
	}

	.is-style-p_balloon_bottom,
	.is-style-p_microcopy {
		max-width: 30em;
	}
}
